.btn-primary {
    background-color: #5F2EEA;
    border-color: #5F2EEA;
}

.btn-primary:hover {
    background-color: #4f24c6;
    border-color: #4f24c6;
}

a {
    color: #414141;
    text-decoration: none;
    font-weight: 500;
}

.text-primary {
    color: #5F2EEA !important;
}

.text-muted {
    color: #A0A3BD !important;
    font-size: 24px;
}

.mt-6 {
    margin-top: 60px;
}

h1 {
    font-size: 56px;
}

#now-showing {
    background-color: #F5F6F8;
    margin-top: 70px;
}

.image-poster-NowShow {
    transition: 1s ease;
    cursor: pointer;
}

.image-poster-NowShow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

#upcoming-movies {
    margin-top: 90px;
}

.btn-outline-primary {
    border-color: #5F2EEA;
    --bs-btn-color: #5F2EEA;
}

.btn-outline-primary:hover {
    background-color: #5F2EEA;
    border-color: #5F2EEA;
}

#cta {
    margin-top: 100px;
}