.btn-primary{
    background-color: #5F2EEA;
    border-color: #5F2EEA;
}

.btn-primary:hover{
    background-color: #4f24c6;
    border-color: #4f24c6;
}

a {
    color: #414141;
    text-decoration: none;
    font-weight: 500;
}

.text-primary{
    color: #5F2EEA !important;
}

.text-muted{
    color: #A0A3BD !important;
    font-size: 24px;
}
.mt-6{
    margin-top: 60px;
}

h1 {
    font-size: 56px;
}